// =========================================================================
// Variables
// =========================================================================

// =========================================================================
// Colours
// =========================================================================

$white: #FDFDFD;
$black: #222;
$color__primary: #66cc99;
$color__gray: #DFDFDF;
$color__gray--dark: #3D464D;

// Social
$facebook: #3B5999;
$twitter: #55ACEE;
$google: #CB2027;

// =========================================================================
// Typeface Rules
// =========================================================================

$baseFont: 'Goudy Bookletter 1911', serif;
$titleFont: 'Bree Serif', serif; 
$sanSerif: Futura, "Trebuchet MS", Arial, sans-serif;
